In [3]:
from selenium import webdriver
import time
import datetime
import pandas as pd

In [7]:
driver = webdriver.Chrome('C:/webdriver/chromedriver.exe')

In [47]:
u_num = 58863
url = 'https://www.jobplanet.co.kr/companies/'+u_num+'/reviews'

TypeError: can only concatenate str (not "int") to str

In [41]:
print(url)

https://www.jobplanet.co.kr/companies/58863/reviews

In [42]:
driver.get(url)

In [43]:
contents1 = driver.find_elements_by_css_selector('span.rate_point')

In [31]:
for elem in driver.find_elements_by_xpath('(.//span[@class = "rate_point"])'):
    print(elem)

<selenium.webdriver.remote.webelement.WebElement (session="341461640c52955fb60031ab8553719a", element="0.3956440284269631-1")>

In [44]:
contents1[0].text

'3.4'

In [27]:
contents2

In [45]:
driver.find_elements_by_css_selector('h2.tit')[0].text

'(주)이스트소프트'

In [48]:
jobplanet_df = pd.DataFrame(columns=["name","score"])
for i in range(58763,58864):
    url = 'https://www.jobplanet.co.kr/companies/'+str(i)+'/reviews'
    driver.get(url)
    time.sleep(0.1)
    try:
        name = driver.find_elements_by_css_selector('span.rate_point')[0].text
        score = driver.find_elements_by_css_selector('h2.tit')[0].text
    except:
        score = ""
    jobplanet_df.loc[len(jobplanet_df)] = [name,score]
time.sleep(1)

In [49]:
jobplanet_df

    name             score
0      -        이앤아이미디어(주)
1      -           이앤아이(주)
2      -     이앤씨플러스보험중개(주)
3      -          이앤씨플랜(주)
4    1.0         이앤씨세미콘(주)
5      -        이앤씨네트워크(주)
6      -          이앤씨기업(주)
7      -            이앤씨(주)
8      -            이앤씨(주)
9      -         이앤비코리아(주)
10   2.0         이앤비소프트(주)
11     -            이앤비(주)
12     -            이앤비(주)
13     -      이앤디리딩대부금융(주)
14     -            이액트(주)
15     -            이액션(주)
16   1.2           이암허브(주)
17     -          이알코리아(주)
18     -         이알지서비스(주)
19   3.0        이알에이코리아(주)
20   1.0        이알씨트레이딩(주)
21     -           이안정밀(주)
22     -       이안엔터프라이즈(주)
23     -         이안에프앤비(주)
24     -         이안씨앤에스(주)
25     -          이안라이팅(주)
26     -          이안라이팅(주)
27     -             이안(주)
28   4.0       이아커뮤니케이션(주)
29   1.5           이아이피(주)
..   ...               ...
71     -            이싸인(주)
72     -         이십일인코스(주)
73     -      이십일세기씨앤아이(주)
74     -        이십사아이앤지(주)
75     -       이신한덴탈랩특송(주)
76     -         이신정보기술(주)
77     -          이시컨트롤(주)
78     -           이시월드(주)
79     -            이시엘(주)
80     -         이시아폴리스(주)
81     -          이시스테크(주)
82   2.6            이시스(주)
83   1.7            이시스(주)
84     -         이시다코리아(주)
85     -    이시다매뉴팩쳐링코리아(주)
86     -          이승진웨딩(주)
87   2.0         이슬림코리아(주)
88     -           이슬나라(주)
89   5.0           이스트후(주)
90     -          이스트핑거(주)
91   1.0        이스트포토닉스(주)
92     -        이스트파워메탈(주)
93   3.0          이스트파워(주)
94     -        이스트텍스타일(주)
95     -           이스트젠(주)
96     -  이스트유니온그룹인터내셔날(주)
97     -      이스트웨스트컨설팅(주)
98     -        이스트어드밴스(주)
99   3.3        (주)이스트시큐리티
100  3.4         (주)이스트소프트

[101 rows x 2 columns]

In [50]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm_notebook

In [2]:
u_num = 58863
url = 'https://www.jobplanet.co.kr/companies/'+str(u_num)+'/reviews'
req = requests.get(url)
html = req.text
header = req.headers
soup = BeautifulSoup(html, 'html.parser')
my_titles = soup.select('h2.tit')

In [74]:
my_titles[0].text

'(주)이스트소프트'

In [ ]:
for i in range(1,344093):#총 index 갯수

In [51]:
jobplanet_df = pd.DataFrame(columns=["name","score","promotion","welfare","balance","culture","executive"])
for i in tqdm_notebook(range(1,100)):
    url = 'https://www.jobplanet.co.kr/companies/'+str(i)+'/reviews'
    req = requests.get(url)
    html = req.text
    header = req.headers
    soup = BeautifulSoup(html, 'html.parser')
    try:
        
        if soup.select('span.rate_point')[0].text == '-': #스코어가 없을 때
            continue
        else:
            name = soup.select('h2.tit')[0].text
            score = soup.select('span.rate_point')[0].text        
            promotion = soup.select('span.txt_point')[0].text
            welfare = soup.select('span.txt_point')[1].text
            balance = soup.select('span.txt_point')[2].text
            culture = soup.select('span.txt_point')[3].text
            executive = soup.select('span.txt_point')[4].text

            jobplanet_df.loc[len(jobplanet_df)] = [name,score,promotion,welfare,balance,culture,executive]
    except:
        continue
jobplanet_df

HBox(children=(IntProgress(value=0, max=99), HTML(value='')))

                 name score promotion welfare balance culture executive
0            힐티코리아(주)   2.8       2.7     2.1     3.8     2.9       2.3
1   히타치하이테크놀로지즈코리아(주)   3.4       3.4     3.9     2.9     2.8       2.7
2      히타치아로카메디칼한국(주)   2.0       2.0     2.0     3.0     3.0       2.0
3           히스보험중개(주)   3.3       3.5     3.7     3.2     2.5       2.7
4           히로세코리아(주)   2.4       2.7     3.2     1.7     1.9       1.9
5            희성피엠텍(주)   1.0       2.0     4.0     1.0     2.0       2.0
6             희성촉매(주)   3.2       3.2     3.9     2.8     2.7       2.3
7             희성전자(주)   2.6       2.6     3.0     2.0     2.3       2.0
8                희성산업   2.0       2.0     2.0     3.0     3.0       2.0
9             희성금속(주)   2.3       2.2     2.8     1.7     2.1       1.7
10               희망약국   2.0       1.0     1.0     2.0     2.0       1.0
11               희림상사   3.0       3.3     2.7     3.0     2.7       3.0
12               흥진산업   3.5       2.5     3.0     4.0     3.0       3.0
13            흥아해운(주)   2.4       2.9     2.2     2.3     2.1       2.2

In [44]:
jobplanet_df["score"][0]

'-'

In [ ]:
url = 'https://www.jobplanet.co.kr/companies/58862/reviews'
req = requests.get(url)
html = req.text
header = req.headers
soup = BeautifulSoup(html, 'html.parser')

In [128]:
for i in soup.select('span.txt_point'):
    print(i.text)

3.1
2.3
3.8
3.5
2.3

In [130]:
for  foo in soup.find_all('div',attrs={'class':'rate_pie_set'}):
    bar = foo.find('span',attrs={'class':'txt_point'})
    print(bar.text)

In [144]:
print(soup.find_all('div',attrs={'class':'rate_label '}))

[]